﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to this code test</h1>
    <p class="lead">Please enter a "from" date and click Get to see a list of transactions</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Search</h3>
        <label>Date from: <input type="date" id="dateFrom" /></label>
      <button class="btn btn-primary" id="getRecords" style="min-width:100px">Get</button>
    </div>
</div>
<strong></strong>
<hr class="btn-warning" />
<div class="row">
    <label>Records</label>
    <ul id="recordList" style="list-style-type:none;"></ul>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        
        $('#getRecords').on('click', function () {
            const date = $('#dateFrom').val();
            
            $.ajax({
                type: 'GET',
                url: '/api/Values',
                data: { date: date },
                success: function (data) {
                    console.log(data);
                    $(data).each(function (index,val) {
                        $('#recordList').append('<li>' + '<strong>Transaction Id: </strong>' + val.UniqueInstanceID + ', <strong>Account number: </strong>' + val.AccountNumber + ', <strong>Amount: </strong>' + val.TransactionAmount+'</li>')
                    });
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
    });
</script>